{% extends 'base.html.twig' %}

{% block title %}Hello FreelanceRegisterController!{% endblock %}

{% block body %}
<div class="container-fluid mt-5">
    
    <div class="row justify-content-center w-100">
        <div class="col-md-4">
         <h3>Inscription Freelance</h3>
             {{ form_start(form) }}
             <div class="form-group">
                {{ form_label(form.nom, 'Nom') }}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.nom) }}
            </div>
            <div class="form-group">
                {{ form_label(form.prenom, 'Prenom') }}
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.prenom) }}
            </div>
            <div class="form-group">
                {{ form_label(form.email, 'Email') }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.email) }}
            </div>

            <div class="form-group">
                {{ form_label(form.portfolio, 'Portfolio') }}
                {{ form_widget(form.portfolio, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.portfolio) }}
            </div>


            <div class="form-group">
                {{ form_label(form.password, 'Mot de passe') }}
                 {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.password) }}
            </div>

                {# <button type="submit" class="btn btn-primary mt-3">{{ form.submit.vars.label }}</button> #}

                {{ form_end(form) }}

                <p>Déjà inscrit, <a href="{{ path ('app_login')}}">Connectez-vous</a></p>
        </div>
    </div>
   
</div>





    {{ form_start(form) }}
    
    <div class="form-group">
     
    </div>

    

    {# <button type="submit" class="btn btn-primary">{{ form.vars.submit_label|default('S\'inscrire') }}</button> #}

    {{ form_end(form) }}
{% endblock %}